<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.grape.product.mapper.GrContactunitsMapper">

    <select id="getList" resultType="net.grape.product.vo.ContactunitsListVO">
        SELECT
        t1.*,
        y.category_name,
        ct.contact_name,
        ct.mobile,
        ct.landline,
        ct.net_contact,
        ct.province,
        ct.city,
        ct.district,
        ct.address,
        ct.primary_person
        FROM
        gr_contactunits t1
        LEFT JOIN gr_contactunits_contact ct ON ct.contactunits_id = t1.id
        AND ct.deleted = 0
        AND ct.primary_person = 0

        LEFT JOIN gr_contactunits_category y ON y.id = t1.category_id
        AND y.deleted = 0

        WHERE
        t1.deleted = 0

        <if test="param != null and param.trim() != ''">
            and (t1.contactunits_code like CONCAT('%', #{param}, '%')
            or t1.contactunits_name like CONCAT('%', #{param}, '%')
            or ct.contact_name like CONCAT('%', #{param}, '%')
            or ct.mobile like CONCAT('%', #{param}, '%')
            or ct.landline like CONCAT('%', #{param}, '%')
            )
        </if>

        <if test="type != null and type.trim() != ''">
            and t1.type = #{type}
        </if>

        <if test="categoryIdList != null and !categoryIdList.isEmpty()">
            and t1.category_id IN
            <foreach item="id" collection="categoryIdList" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </select>

</mapper>
