<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.grape.product.mapper.GrStoreMapper">

    <select id="getStoreList" resultType="net.grape.product.vo.GrStoreVO">
        select e.*,r.username from gr_store e left join sys_user r on e.user_id = r.id and r.deleted = 0 where e.deleted = 0
    </select>

</mapper>
